.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    width: 250px;
    height: 350px;
    background-color: rgb(27, 214, 168);
}

img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 30px;
}